<div class="main-container">
    <h1>Sistema de Votaciones</h1>
    <app-hijo [candidates]="candidateNames" (vote)="onVote($event)" ></app-hijo>
    <button type="button" class="btn btn-primary btn-lg button" (click)="finalElection()">Finalizar votaciones</button>
    @if(final){
        <div class="alert alert-success result" role="alert">
          {{result}}
        </div>
      }
      <div class="container text-center table">
          <div class="row">
            <div class="col table-header">  
              <h5>Resultados Parciales:</h5>
            </div>
          </div>
          @if (showWinner){
            <div class="row">
                <div class="col table-content">
                    <p>{{candidateNames[0]}}</p>
                    <p>{{candidateNames[1]}}</p>
                    <p>{{candidateNames[2]}}</p>
                </div>
              
              <div class="col table-content tc2">
                  <p class="number">{{candVotes1}}</p>
                  <p class="number">{{candVotes2}}</p>
                  <p class="number">{{candVotes3}}</p>
              </div>
            </div>
          }
      </div>
    
</div>